<ion-view id="homePage">
  <ion-content class="has-footer">
  <div class="list card" ng-repeat="course in userCourses | filter:{done: false}">

    <div class="item">
      <strong>{{course.title}}</strong>
      <div style="height: 2px; width: {{(course.completed/course.length)*100}}%; transition: width 0.1s; background: #7cb2bc; margin-top: 5px;">
      </div>
    </div>

    <a href="#/course/{{course.$id}}/lesson/{{lesson.title}}" class="item item-icon-right" ng-repeat="lesson in course.content" ng-hide="lesson.done">
      {{lesson.title}}
      <i class="icon ion-document-text" ng-show="lesson.type=='text'"></i>
      <i class="icon ion-headphone" ng-show="lesson.type=='audio'"></i>
      <i class="icon ion-social-youtube" ng-show="lesson.type=='video'"></i>
      <i class="icon ion-link" ng-show="lesson.type=='url'"></i>
    </a>

    <div class="item tabs tabs-secondary tabs-icon-top">
      <a class="tab-item" href="#/course/{{course.$id}}">
        <i class="icon ion-university"></i>
        View Course
      </a>
      <a class="tab-item" href="#" ng-click="show(course)">
        <i class="icon ion-ios-more"></i>
        More
      </a>
    </div>

  </div>
  </ion-content>
  <ion-tabs class="tabs-light tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home" href="#/" nav-transition="none">
      
    </ion-tab>

    <ion-tab title="Library" icon-on="ion-ios-book" icon-off="ion-ios-book" href="#/library" nav-transition="none">
      
    </ion-tab>

    <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person" href="#/profile" nav-transition="none">
      
    </ion-tab>

  </ion-tabs>
</ion-view>