<ion-view id="loginPage">
  <ion-content>
  <h1 id="logo">LEXA</h1>
  <div class="list list-inset" id="loginForm">
    <label class="item item-input">
      <input type="email" ng-model="inputs.email" placeholder="Email">
    </label>
    <label class="item item-input">
      <input type="password" ng-model="inputs.password" placeholder="Password">
    </label>
  </div>
  <div class="buttonDiv">
    <button class="button button-outline button-light button-block" ng-click="login()" id="loginBtn">
        Submit
    </button>
  </div>

  <a nav-transition="none" href="#/create_account">Create a New Account</a>
  </ion-content>
</ion-view>