<ion-slide-box on-slide-changed="slideHasChanged($index)" class="slide">
  <ion-slide>
    <div class="box blue">
      <div class="spacer">
      </div>
      <i class="icon ion-ios-bookmarks"></i>
      <h1 id="logo2">LEXA</h1>
      <p>Welcome To Lexa</p>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box blue">
      <p style="padding-left: 20px; padding-right: 20px; font-size: 2em; line-height: 1.5em;">Lexa is a library of courses. Each course is comprised of bite-sized lessons that are designed to be completed on your commute, while you wait in line, or whenever you have some time to spare. Lexa is an app for people who want to use their free time well.</p>
      <i class="icon ion-clock"></i>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box blue">
      <p style="padding-left: 20px; padding-right: 20px; font-size: 2em; line-height: 1.5em;">To get started, head on over to the library and pick out something to learn! Once you select a course, all courses you are currently taking will be displayed on your home page.</p>
      <i class="icon ion-grid"></i>
      <div class="buttonDiv">
        <button class="button button-outline button-light button-block" ng-click="go()">Get Started</button>
      </div>
    </div>
  </ion-slide>
</ion-slide-box>